:root {
    --donker: #2b1e1a;
    --bruin: #5c3b2e;
    --warm-oranje: #d88b4a;
    --zacht-geel: #f1c56b;
    --groen: #4f6b4f;
    --blauwgrijs: #7c8ea0;
    --wit-zacht: #f5f1eb;
}

body {
    margin: 0;
    
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

body{
    font-family: 'Poppins', sans-serif;
    

}

.header{

    border-radius: 3px;
    backdrop-filter: blur(2px);
}





.overlay {
    min-height: 100vh;
    background: rgba(20, 20, 20, 0.45);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    
}

.header {
    padding: 20px 0px;
    font:  'Georgia', serif;
    

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--wit-zacht);
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: var(--zacht-geel);
}

.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero-container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.hero-text {
    max-width: 600px;
    background: rgba(43, 30, 26, 0.45);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: var(--zacht-geel);
}

.hero-text p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.3s;
}

.btn:hover {
    background-color:var(dark yellow);
    color: var(--donker);
    color: white;
}









@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 36px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }
}